---
import BadgesCard from "@/components/BadgesCard.astro";
import Pagination from "@/components/Pagination.astro";
import PostCard from "@/components/PostCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import {
  getSortedCollection,
  getSortedSeries,
  getSortedTags,
} from "@/utils/collections";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedCollection("posts");
  return paginate(posts, { pageSize: siteConfig.pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;

const tags = (await getSortedTags(["posts"])).slice(0, 10);
const series = (await getSortedSeries("posts")).slice(0, 10);
---

<Layout title="Blog" description="Read Oscar R.C.'s latest blog posts on software development, technology, and programming.">
  <Section title="Latest Posts" class="flex flex-col gap-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-8 2xl:min-w-full">
        {posts.map((post) => <PostCard post={post} />)}
        <Pagination
          prevLink={page.url.prev}
          prevText="Newer Posts"
          nextLink={page.url.next}
          nextText="Older Posts"
        />
      </div>
    </div>
  </Section>
  <div
    class="2xl:sticky 2xl:top-10 max-w-4xl mx-auto flex flex-col gap-8 2xl:gap-16 p-6"
    slot="right"
  >
    {
      tags?.length > 0 ? (
        <BadgesCard badges={tags} type="tags" collection="posts" title="Top tags" variant="primary" />
      ) : null  
    }
    { 
      series?.length > 0 ? (
        <BadgesCard
          badges={series}
          type="series"
          title="Top series"
          variant="accent"
        /> 
      ) : null 
    }
  </div>
</Layout>
