---
import BadgesCard from "@/components/BadgesCard.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Pagination from "@/components/Pagination.astro";
import PostCard from "@/components/PostCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import {
  getSortedCollection,
  getSortedSeries,
  getSortedTags,
} from "@/utils/collections";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedCollection("posts");
  return paginate(posts, { pageSize: siteConfig.pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;

const tags = (await getSortedTags(["posts"])).slice(0, 10);
const series = (await getSortedSeries("posts")).slice(0, 10);
---

<Layout>
  <Section class="flex flex-col gap-8">
    <div class="flex flex-col gap-16 xl:flex-row xl:items-start">
      <div class="flex flex-col gap-8 xl:min-w-full 2xl:min-w-full">
        {posts.map((post) => <PostCard post={post} />)}
        <Pagination
          prevLink={page.url.prev}
          prevText="Newer Posts"
          nextLink={page.url.next}
          nextText="Older Posts"
        />
      </div>
      <div class="xl:sticky xl:top-10 xl:w-64 flex flex-col gap-8">
        <BadgesCard badges={tags} base="tag" title="Top tags" variant="primary" />
        <BadgesCard badges={series} base="series" title="Top series" variant="accent"/>
      </div>
    </div>
  </Section>
</Layout>
