---
import TagCard from "@/components/TagCard.astro";
import Pagination from "@/components/Pagination.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import type { GetStaticPaths } from "astro";
import { allTags } from "@/utils/collections";

export const getStaticPaths = (async ({ paginate }) => {
  return paginate(allTags, { pageSize: siteConfig.pageSize * 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const tags = page.data;
---

<Layout description="Browse Oscar R.C.'s projects and posts categorized by tags.">
  <Section class="flex flex-col gap-8">
    <div class="flex flex-col gap-16 flex-1">
      <div class="flex flex-col gap-8">
        {tags.map((tag) => (
          <TagCard
            tagName={tag.name}
            postsCount={tag.postCount}
            projectsCount={tag.projectCount}
          />
        ))}
      </div>
      <Pagination
        prevLink={page.url.prev}
        prevText="Newer Tags"
        nextLink={page.url.next}
        nextText="Older Tags"
      />
    </div>
  </Section>
</Layout>

