---
import BadgesCard from "@/components/BadgesCard.astro";
import Pagination from "@/components/Pagination.astro";
import PostCard from "@/components/PostCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import {
  getPostsBySeries,
  getPostTags,
  getAllSeries,
  getSeriesData,
} from "@/utils/collections";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import Typewritter from "@/components/Typewritter.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const paths = [];

  // Get all series
  const allSeries = await getAllSeries();

  // Generate paths for each series
  for (const series of allSeries) {
    const seriesSlug = series.slug;
    const entries = await getPostsBySeries(seriesSlug);

    const paginatedPaths = paginate(entries, {
      pageSize: siteConfig.pageSize,
      params: { slug: seriesSlug },
    });

    for (const path of paginatedPaths) {
      paths.push(path);
    }
  }

  return paths;
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { slug: seriesSlug } = Astro.params;

const entries = page.data;

// Get series data
const seriesData = await getSeriesData(seriesSlug);
const seriesName = seriesData.name || seriesSlug;
const totalPosts = seriesData.postsCount;

const tags = (await getPostTags()).slice(0, 10);
const series = (await getAllSeries()).slice(0, 10);

const message = `No posts found in the series "${seriesName}".`;
---

<Layout title={`${seriesName} posts`} description={entries[0].data.description}>
  <Section class="flex flex-col gap-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-8 2xl:min-w-full">
        {
          entries?.length ? (
            entries.map((entry) => (
              <PostCard post={entry as CollectionEntry<"posts">} />
            ))
          ) : (
            <div class="w-full 2xl:min-w-4xl">
              <Typewritter length={message.length}>{message}</Typewritter>
            </div>
          )
        }
        <Pagination
          prevLink={page.url.prev}
          prevText="Newer Posts"
          nextLink={page.url.next}
          nextText="Older Posts"
        />
      </div>
    </div>
  </Section>
  <div
    class="2xl:sticky 2xl:top-10 max-w-4xl mx-auto flex flex-col gap-16 p-6"
    slot="right"
  >
    {
      tags?.length > 0 ? (
        <BadgesCard
          badges={tags}
          collection="posts"
          type="tags"
          title="Top tags"
          variant="primary"
        />
      ) : null
    }
    {
      series?.length > 0 ? (
        <BadgesCard
          badges={series}
          type="series"
          title="Top series"
          variant="accent"
        />
      ) : null
    }
  </div>
</Layout>
