---
import AboutCard from "@/components/AboutCard.astro";
import GithubCalendar from "@/components/GithubCalendar.astro";
import SkillsSection from "@/components/SkillsSection.astro";
import config from "@/site.config";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Section from "@/components/Section.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import PostCard from "@/components/PostCard.astro";
import SectionButton from "@/components/SectionButton.astro";

const home = await getCollection("home");
const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.published).getTime() -
      new Date(a.data.published).getTime(),
  )
  .slice(0, 3);

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.published).getTime() -
      new Date(a.data.published).getTime(),
  )
  .slice(0, 3);

const github = config.github;

let AboutContent;
let aboutAvatar;
let aboutTitle;

if (home.length > 0) {
  const homeEntry = home[0];
  const { Content } = await render(homeEntry);
  AboutContent = Content;
  aboutTitle = homeEntry.data.title;
  aboutAvatar = homeEntry.data.avatar;
}
---

<Layout>
  <Section class="flex flex-col gap-16">
    <AboutCard title={aboutTitle} avatar={aboutAvatar}>
      {AboutContent && <AboutContent />}
    </AboutCard>
  </Section>
  <Section>
    <SkillsSection />
  </Section>
  <Section title="Personal Projects" class="flex flex-col gap-8">
    {projects.map((project) => <ProjectCard project={project} />)}
    <SectionButton title="View all projects" href="/projects" />
  </Section>
  <Section>
    {github && <GithubCalendar username={github} year={2025} />}
  </Section>
  <Section title="Latest Posts" class="flex flex-col gap-8">
    {posts.map((post) => <PostCard post={post} />)}
    <SectionButton title="View all posts" href="/posts" />
  </Section>
</Layout>
