---
interface Props {
  tagSlug: string;
  currentCollection?: "posts" | "projects";
  postsCount: number;
  projectsCount: number;
}

const { tagSlug, currentCollection, postsCount, projectsCount } =
  Astro.props;

const baseUrl = `/tags/${tagSlug}`;
const postsUrl = `${baseUrl}/posts`;
const projectsUrl = `${baseUrl}/projects`;
---

<div class="tabs tabs-boxed tabs-sm w-max rounded-box border">
  <a
    href={baseUrl}
    class:list={[
      "tab tab-sm rounded-box",
      { "bg-base-300 text-base-content": !currentCollection },
    ]}
  >
    All
    <span class="badge badge-xs text-xs badge-primary ml-2">{postsCount + projectsCount}</span>
  </a>
  <a
    href={postsUrl}
    class:list={[
      "tab tab-sm rounded-box",
      { "bg-base-300 text-base-content": currentCollection === "posts" },
    ]}
  >
    Posts
    <span class="badge badge-xs text-xs badge-primary ml-2">{postsCount}</span>
  </a>
  <a
    href={projectsUrl}
    class:list={[
      "tab tab-sm rounded-box",
      { "bg-base-300 text-base-content": currentCollection === "projects" },
    ]}
  >
    Projects
    <span class="badge badge-xs text-xs badge-primary ml-2">{projectsCount}</span>
  </a>
</div>
