---
import { render, type CollectionEntry } from "astro:content";
import { slug as sluggify } from "github-slugger";
import Icon from "./Icon.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { remarkPluginFrontmatter } = await render(post);
const { minutesRead } = remarkPluginFrontmatter;

const description =
  remarkPluginFrontmatter.description || post.data.description;

const tags = post.data.tags;
const author = post.data.author;
const series = post.data.series;

const date = new Date(post.data.published).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const articleLink = `/blog/${post.data.slug}`;
---
<article class="w-full flex flex-col gap-4 py-4">
  <div class="flex flex-col gap-1">
    <h3 class="text-2xl font-semibold">
      <a href={articleLink}>## {post.data.title}</a>
    </h3>
    <div class="flex items-center gap-2 text-neutral text-sm">
      <time>
        <Icon name="calendar" />
        {date}
      </time>
      <span>|</span>
      <time>
        <Icon name="clock" />
        {minutesRead}
      </time>
      {
        author && (
          <>
            <span>|</span>
            <span>
              <Icon name="user" />
              {author}
            </span>
          </>
        )
      }
    </div>
  </div>
  {description && <p class="text-accent">{description}</p>}
  {
    (tags || series) && (
      <div class="flex flex-wrap gap-2">
        {series && (
          <a href={`/series/${sluggify(series)}`} class="badge badge-soft badge-accent">
            <Icon name="book" />
            {series}
          </a>
        )}
        {tags.map((tag) => (
          <a href={`/tags/${sluggify(tag)}/posts`} class="badge badge-soft badge-primary">
            {tag}
          </a>
        ))}
      </div>
    )
  }
  <div class="flex gap-2 mt-2">
    <a class="btn btn-outline btn-sm" href={articleLink}>
      Read More
      <Icon name="chevronRight" />
    </a>
  </div>
</article>
