---
import BadgesCard from "@/components/BadgesCard.astro";
import CollectionTabs from "@/components/CollectionTabs.astro";
import Pagination from "@/components/Pagination.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import siteConfig from "@/site.config";
import type { CombinedEntry } from "@/types";
import {
  allTags,
  contentByTag,
  getTagBySlug,
  postSeries,
} from "@/utils/collections";

import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const paths = [];

  for (const [tagSlug, combinedEntries] of contentByTag) {
    const paginatedPaths = paginate(combinedEntries, {
      pageSize: siteConfig.pageSize,
      params: { slug: tagSlug },
    });

    for (const path of paginatedPaths) {
      paths.push({
        ...path,
        params: {
          ...path.params,
          slug: tagSlug,
        },
      });
    }
  }

  return paths;
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { slug: tagSlug } = Astro.params;

const entries = page.data as CombinedEntry[];

const tagData = await getTagBySlug(tagSlug);
const tagName = tagData?.name || tagSlug;
const postsCount = tagData?.postCount || 0;
const projectsCount = tagData?.projectCount || 0;
---

<Layout
  title={`Content tagged ${tagName}`}
  description={`Browse all ${postsCount + projectsCount} posts and projects tagged with "${tagName}".`}
>
  <Section class="flex flex-col gap-8">
    <CollectionTabs
      tagSlug={tagSlug}
      postsCount={postsCount}
      projectsCount={projectsCount}
    />

    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-8 2xl:min-w-full">
        {
          entries?.length ? (
            entries.map((item) =>
              item.type === "posts" ? (
                <PostCard post={item as CollectionEntry<"posts">} />
              ) : (
                <ProjectCard project={item as CollectionEntry<"projects">} />
              )
            )
          ) : (
            <p>{`No content found with the tag "${tagName}".`}</p>
          )
        }
        <Pagination
          prevLink={page.url.prev}
          prevText="Newer Content"
          nextLink={page.url.next}
          nextText="Older Content"
        />
      </div>
    </div>
  </Section>
  <div
    class="2xl:sticky 2xl:top-10 max-w-4xl mx-auto flex flex-col gap-8 2xl:gap-16 p-6"
    slot="right"
  >
   
  </div>
</Layout>
